.env
.env.*
*.local
node_modules/
venv/
.venv/
__pycache__/
*.pyc
*.class
*.o
*.so
.DS_Store
Thumbs.db
*.log
*.tmp
*.ipynb
dist/
build/
out/
.idea/
.vscode/
*.csv
*.pkl
*.jpeg
*.jpg
*.png
photo_examples/
train_data/
*.dump
*.sqlite
*.db
.git/

